<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Train Delays</title>
    <style>
        body {font-family: Arial, Helvetica, sans-serif}
    </style>
</head>
<body>
<div th:each="trainServiceInfo : ${model.trainServiceInfoList}">
    <h4 th:text="${trainServiceInfo.startStation} + ' to ' + ${trainServiceInfo.endStation}"></h4>
    <table border="1" cellpadding="2">
        <tr th:each="trainService : ${trainServiceInfo.trainServices}">
            <td th:text="${trainService.date}"></td>
            <td th:text="${trainService.scheduledStart}"></td>
            <td th:text="${trainService.scheduledEnd}"></td>
            <td th:text="${trainService.actualEnd}"></td>
            <td th:text="${trainService.isCancelled}? 'CANCELLED' : ${trainService.delay}"></td>
        </tr>
    </table>
</div>
</body>
</html>